h1 {
    color: darkgoldenrod;   
    font-family: Verdana, Geneva,;
}
h2 {
    color: rgb(214, 39, 39);
    font-family: 'Franklin Gothic Medium';
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    word-spacing: 0.1em;
    background-image:url(images/pic1.jpg);
    background-size:cover;
    background-position: top right;
}
.shadow {
    text-shadow: 2px 2px 4px;
}
a:link {
    color: rgb(51, 51, 137);
}
a:visited {
    color: blueviolet;
}
a:hover {
    color: brown;
}
section {
    color:;
    font-size:larger;
}